.App{
  height: 100px;
}


.App-header {
  /* background-color: #61dafb; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000;
  height:50px;
  border: 5px solid #61dafb; 
  
}

header ul li {
  display: inline-block;
  margin: 0 10px;
  list-style: none;

}
header a{
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}

.history{
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: #000000;
  height:50px;
  border: 5px solid #61dafb;
  height: 100px; 
  
}
.body{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 10px;
}
.body button{
  margin: 8px;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  box-shadow: none;

}
